{% load static %}
<!DOCTYPE html>
<html lang="es-ar">
	<head>
		<!-- basic -->
		<meta charset="utf-8" />
		<!-- De esta forma indicas a los rastreadores que no muestren la versión almacenada en la caché en los resultados de búsqueda, sino la actual.-->
		<meta name="robots" content="noarchive" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<!-- mobile metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="viewport" content="initial-scale=1, maximum-scale=1" />
		<!-- site metas -->

		<title>{% block title %} INICIO {% endblock title %}</title>

		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<!-- bootstrap css -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
		<!-- style css -->
		<link rel="stylesheet" href="{%  static 'css/style.css' %}" />
		<!-- Responsive-->
		<link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
		<!-- fevicon -->
		<link
			rel="icon"
			href="{% static 'images/fevicon.png' %}"
			type="image/gif"
		/>
		<!-- Scrollbar Custom CSS -->
		<link
			rel="stylesheet"
			href="{% static 'css/jquery.mCustomScrollbar.min.css' %}"
		/>
		<!-- Tweaks for older IEs-->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script
		><![endif]-->
	</head>

	<body>
		<!-- loader  -->
		<div class="loader_bg">
			<div class="loader">
				<img src="{% static 'images/loading.gif' %}" alt="" />
			</div>
		</div>
		<!-- end loader -->

		<!-- ==================================== -->
		<!-- header -->
		<header>
			<!-- header inner -->
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-3 logo_section">
						<div class="full">
							<div class="center-desk">
								<div class="logo">
									<a href="{% url 'index' %}"
										><img
											src="{% static 'images/logo.png' %}"
											alt="Foto de Perfil"
									/></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-9">
						<div class="menu-area">
							<div class="limit-box menu-area-texto">
								<nav class="main-menu">
									<ul class="menu-area-main">
										<li class="active">
											<a href="{% url 'index' %}">Inicio</a>
										</li>
										<li>
											<a href="{% url 'blog' %}">Blog</a>
										</li>
										<li>
											<a href="{% url 'nosotros' %}">Nosotros</a>
										</li>
										<li>
											<a href="{% url 'contactanos' %}">Contáctanos</a>
										</li>
										<li>
											<a href="#">Buscar</a>
										</li>

										{% if user.is_authenticated %}
										<li>
											<a href="#">{{ user.username.upper }}</a>
											<ul>
												<li>
													<a href="{% url 'usuarios:editar' %}">Mi Perfil</a>
												</li>
												<li>
													<a href="{% url 'usuarios:prelogout' %}"
														>Cerrar Sesión</a
													>
												</li>
											</ul>
										</li>

										{% else %}

										<li>
											<a href="#">Usuarios</a>
											<ul>
												<li>
													<a href="{% url 'usuarios:login' %}"
														>Iniciar Sesión</a
													>
												</li>
												<li>
													<a href="{% url 'usuarios:registrar' %}">Registrar</a>
												</li>
											</ul>
										</li>
										{% endif %}
									</ul>
								</nav>
								{% if user.is_authenticated %}
								<div class="cont-foto-perfil">
									<img src="{{ user.foto.url }}" alt="" class="foto-perfil" />
								</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end header inner -->
		</header>
		<!-- end header -->

		<!-- ==================================== -->

		{% block contenido %} {% endblock contenido %}

		<!-- ==================================== -->
		<!-- footer -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<a href="#"
							><img src="{% static 'images/footer_logo.png' %}" alt="#"
						/></a>
						<ul class="contact_information">
							<li>
								<span
									><img
										src="{% static 'images/location_icon.png' %}"
										alt="#" /></span
								><span class="text_cont"
									>Informatorio 2024<br />Prov. Chaco</span
								>
							</li>
							<li>
								<span
									><img
										src="{% static 'images/phone_icon.png' %}"
										alt="#" /></span
								><span class="text_cont">987 654 3210</span>
							</li>
							<li>
								<span
									><img
										src="{% static 'images/mail_icon.png' %}"
										alt="#" /></span
								><span class="text_cont">demo@gmail.com</span>
							</li>
						</ul>
						<ul class="social_icon">
							<li>
								<a href="#"><i class="fa fa-facebook"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-twitter"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-linkedin"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-google-plus"></i></a>
							</li>
						</ul>
					</div>
					<div class="col-lg-2 col-md-6">
						<div class="footer_links">
							<h3>Menú</h3>
							<ul>
								<li>
									<a href="{% url 'index' %}"
										><i class="fa fa-angle-right" aria-hidden="true"></i>
										Inicio</a
									>
								</li>
								<li>
									<a href="{% url 'blog' %}"
										><i class="fa fa-angle-right" aria-hidden="true"></i>
										Blog</a
									>
								</li>
								<li>
									<a href="{% url 'nosotros' %}"
										><i class="fa fa-angle-right" aria-hidden="true"></i>
										Nosotros</a
									>
								</li>

								<li>
									<a href="{% url 'contactanos' %}"
										><i class="fa fa-angle-right" aria-hidden="true"></i>
										Contáctanos</a
									>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="footer_links">
							<h3>Instagram</h3>
							<ol>
								<li>
									<img
										class="img-responsive"
										src="{% static 'images/footer_blog.png' %}"
										alt="#"
									/>
								</li>
								<!-- mas fotos -->
							</ol>
						</div>
					</div>
					
				</div>
			</div>
		</footer>
		<div class="cpy">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p>
							DERECHOS RESERVADOS © 2024 Design by
							<a href="https://html.design/">Free Html Templates</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- end footer -->
		<!-- Javascript files-->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/popper.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
		<script src="{% static 'js/plugin.js' %}"></script>
		<!-- Scrollbar Js Files -->
		<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
		<script src="{% static 'js/custom.js' %}"></script>
	</body>
</html>
