{% extends 'base.html' %}
<!-- ==================================== -->
{% load static %}

<!-- ==================================== -->
{% block title %} Editar Perfil {% endblock title %}

<!-- ==================================== -->
{% block contenido %}

<div>
	<div class="Blog-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="Blogheading">
						<h3>Editar Perfil</h3>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- section -->
	<div class="section light_silver">
		<div class="container">
			<div class="row">
				<div
					class="col-xs-12 col-sm-6 col-md-8 offset-md-2"
					style="margin-bottom: 100px"
				>
					<div class="log-in-out">
						<h3 style="color: black">Hola {{ user.username.upper }}!</h3>
						<img
							src="{{user.foto.url}}"
							alt="Foto de Perfil"
							class="foto-perfil-2"
						/>
					</div>

					<!-- ERRORES  -->
					<div class="text_center">
						<small>
							{% if form.errors %}
							<h1>Errores</h1>
							<!---->
							{% for field in form %}

							<!---->
							{% if field.errors %}
							<p class="texto-rojo" style="font-weight: bold">
								{{ field.label_tag }}
							</p>
							<!---->
							{% for error in field.errors %}
							<p class="texto-rojo">{{ error|escape }}</p>
							{% endfor %}
							<!---->
							{% endif %}
							<!---->
							{% endfor %}
							<!---->
							{% if form.non_field_errors %}
							<!---->
							{% for error in form.non_field_errors %}
							<p class="texto-rojo">{{ error|escape }}</p>
							{% endfor %}
							<!---->
							{% endif %}
							<!---->
							{% endif %}
							<hr />
						</small>
					</div>

					<p>
						Desea cambiar su contraseña, hacer clic aquí:
						<a href="{% url 'usuarios:password_change' %}"
							>Cambiar Contraseña</a
						>
					</p>
					<hr />

					<!-- FORMULARIO  -->
					<h3>Completar los siguiente campos:</h3>
					<form
						method="POST"
						enctype="multipart/form-data"
						style="margin-top: 20px; margin-bottom: 50px"
					>
						{% csrf_token %}

						<div class="form-group">
							<label>Nombres</label>
							{{ form.first_name }}
						</div>

						<div class="form-group">
							<label>Apellidos</label>
							{{ form.last_name }}
						</div>

						<div class="form-group">
							<label>Foto de Perfil</label>
							{{ form.foto }}
						</div>
						<div class="form-group">
							<label>Correo Electrónico</label>
							{{ form.email }}
						</div>
						<div class="form-group">
							<label>Fecha Nacimientoº</label>
							{{ form.fecha_nacimiento}}
						</div>

						<button type="submit" class="btn btn-custom hover-btn">
							GUARDAR CAMBIOS
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock contenido %}
