{% extends 'base.html' %}
<!-- ==================================== -->
{% load static %}

<!-- ==================================== -->
{% block title %} Reset Contraseña {% endblock title %}

<!-- ==================================== -->
{% block contenido %}

<div class="light_silver" style="height: 80vh">
	<div class="Blog-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="Blogheading">
						<h3>Nueva Contraseña</h3>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- section -->
	<div class="section light_silver">
		<div class="container">
			<div class="row">
				<div
					class="col-xs-12 col-sm-6 col-md-8 offset-md-2"
					style="margin-bottom: 100px"
				>
					<div class="text_center">
						<small>
							{% if form.errors %}
							<h1>Errores</h1>
							<!---->
							{% for field in form %}

							<!---->
							{% if field.errors %}
							<p class="texto-rojo" style="font-weight: bold">
								{{ field.label_tag }}
							</p>
							<!---->
							{% for error in field.errors %}
							<p class="texto-rojo">{{ error|escape }}</p>
							{% endfor %}
							<!---->
							{% endif %}
							<!---->
							{% endfor %}
							<!---->
							{% if form.non_field_errors %}
							<!---->
							{% for error in form.non_field_errors %}
							<p class="texto-rojo">{{ error|escape }}</p>
							{% endfor %}
							<!---->
							{% endif %}
							<!---->
							{% endif %}
							<hr />
						</small>
					</div>

					<!-- FORMULARIO  -->

					{% if validlink %}
					<h3>Completar los siguientes datos:</h3>

					<form method="POST" style="margin-top: 20px; margin-bottom: 50px">
						{% csrf_token %}
						<div class="form-group">
							<label>Nueva Contraseña:</label>
							{{ form.new_password1 }}
						</div>

						{{ form.new_password2.errors }}

						<div class="form-group">
							<label>Confirme contraseña:</label>
							{{ form.new_password2 }}
						</div>

						<button type="submit" class="btn btn-custom hover-btn">
							CAMBIAR CONTRASEÑA
						</button>
						<!-- <input type="submit" class="btn btn-custom hover-btn" value="Cambiar mi contraseña" /> -->
					</form>
					<div class="button_section" style="margin-bottom: 100px">
						<a href="{% url 'usuarios:login' %}">Iniciar Sesión</a>
					</div>
					{% else %}
					<h1 class="text-center">
						Enlace invalido: Este enlace ya ha sido utilizado
					</h1>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock contenido %}
