{% extends 'base.html' %}
<!-- ==================================== -->
{% load static %}

<!-- ==================================== -->
{% block title %} Reset Contraseña {% endblock title %}

<!-- ==================================== -->
{% block contenido %}

<div class="light_silver" style="height: 80vh">
	<div class="Blog-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="Blogheading">
						<h3>Contraseña</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 text-center py-5">
			<h1 class="my-5 py-5">
				Le enviamos un enlace para reestablecer la contraseña. <br> 
				Controle su correo.
			</h1>
		</div>
	</div>
</div>

{% endblock contenido %}
