{% extends 'base.html' %}
<!-- ==================================== -->
{% load static %}

<!-- ==================================== -->
{% block title %} Nueva Contraseña {% endblock title %}

<!-- ==================================== -->
{% block contenido %}

<div class="light_silver" style="height: 80vh">
	<div class="Blog-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="Blogheading">
						<h3>Nueva Contraseña</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section light_silver">
		<div class="container">
			<div class="row">
				<div
					class="col-12 text-center py-5"
					style="display: flex; flex-direction: column; align-items: center"
				>
					<h1 class="my-5 py-5">Su contraseña se reestableció correctamente</h1>
					<div class="button_section" style="margin-bottom: 100px">
						<a href="{% url 'usuarios:login' %}">Iniciar Sesión</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock contenido %}
