{% extends 'base.html' %}
<!-- ==================================== -->
{% load static %}

<!-- ==================================== -->
{% block title %} Reset Contraseña {% endblock title %}

<!-- ==================================== -->
{% block contenido %}

<div>
	<div class="Blog-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="Blogheading">
						<h3>Reset contraseña</h3>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- section -->
	<div class="section light_silver">
		<div class="container">
			<div class="row">
				<div
					class="col-xs-12 col-sm-6 col-md-8 offset-md-2"
					style="margin-bottom: 100px"
				>
					<!-- ERRORES  -->
					<div class="text_center">
						<small>
							{% if form.errors %}
							<h1>Errores</h1>
							<!---->
							{% for field in form %}
							<!---->
							{% if field.errors %}
							<p class="texto-rojo">TAGGGG: {{ field.label_tag }}</p>
							<!---->
							{% for error in field.errors %}
							<p class="texto-rojo" style="font-weight: bold">
								{{ field.label_tag }}
							</p>

							{% endfor %}
							<!---->
							{% endif %}
							<!---->
							{% endfor %}
							<!---->
							{% if form.non_field_errors %}
							<!---->
							{% for error in form.non_field_errors %}
							<p class="texto-rojo">{{ error|escape }}</p>
							{% endfor %}
							<!---->
							{% endif %}
							<!---->
							{% endif %}
						</small>
						<hr />
					</div>

					<!-- FORMULARIO  -->
					<h3>Completar los siguiente campos:</h3>

					<p>Enviaremos un enlace a su correo para recuperar la contraseña:</p>
					<form method="POST">
						<br />
						{% csrf_token %}
						<label for="id_email">Su correo:</label>
						{{ form.email }}
						<br /><br />
						<button type="submit" class="btn btn-custom hover-btn">
							ENVIAR
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock contenido %}
